<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSLTextViewPlaceholderExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD6D875E1DCB691D0048D5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD6D87771DCB691D0048D5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD6D87821DCB691D0048D5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
